@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}



.wapper {
    height: 100%;
    position: absolute;
    width: calc(100%);

}

.main {
    position: relative;
}

.header {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    min-height: 100vh;
    height: 100%;
}


.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 24px 108px; */
    padding: 24px 0px;
    /* width: 100%; */
    /* position: fixed; */
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #FFFFFF33;
}

.founded-year {
    display: none;
}

.tel {
    margin-left: 48px;
}

.call {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 12px;
    color: #F6AE2D;
    transition: all .5s;
    cursor: pointer;

}

.call svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.call_inner {
    padding: 8px;
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.call_wapper {
    padding: 8px;
    border-radius: 50%;
    width: 72px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.call:hover {
    color: #FFF;
}

.call svg g path {
    transition: all .5s;
}

.call:hover svg g path {
    stroke: #FFF;
}

.logo_main {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.logo_main_p {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    background-color: #F6AE2D;
    padding: 8px 0;
    color: #000000
}

.logo_top {
    top: -50%;
    transition: all .5s;

    width: 263px;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.main_innner {
    display: flex;
    padding-top: 48px;
    margin-right: 352px;
    padding-right: 24px;
    gap: 12px;
    padding-bottom: 48px;
    align-items: center;
    position: relative;
}

.main_text {
    margin: 48px 0;
}


.arrow {
    display: flex;
    gap: 12px;
    align-items: center;
    transition: all .5s;
    cursor: pointer;
}


.arrow:hover {
    color: #fff;
}

.podrobno {
    color: #F6AE2D;

}


.prev {
    color: rgba(255, 255, 255, 0.4);
}


.opisanie_text {
    margin-top: 48px;
}

.text span {
    color: #F6AE2D;
}

.section {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}

.about_cifra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.about_item {
    width: 408px;
    height: 272px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #FFFFFF33
}

.about_cifra_in {
    color: #F6AE2D;

}



.teg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding-left: 24px;
    border-left: 1px solid #FFFFFF33;
    gap: 30px;
    width: 384px;
}

.teg_title {
    font-size: 24px;
    line-height: 36px;
}

.teg_text {
    color: rgba(255, 255, 255, .4);
}


@media (max-width: 1500px) {
    .about_item {
        width: 245px;
        height: 200px;
    }

    /* .main_innner{
        margin-right: 18%;
    } */
}



@media (max-width: 1300px) {

    .logo_main {
        width: 70%;
        margin: 0 auto;
    }

    .logo_main img {
        width: 100%;
    }

    .logo_main_p {
        font-size: 22px;
    }

    .main_innner {
        flex-direction: column;
        margin-right: 0px;
    }

    .about_cifra {
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 20%;
    }

    .teg {
        flex-direction: row;
        flex-wrap: wrap;
        border-left: none;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding-left: 0px;
        gap: 75px;
        height: auto;
        width: auto;
    }



    .teg_item {
        width: 40%;
    }
}

@media (max-width: 998px) {
    .logo_main_p {
        font-size: 16px;
    }
}

@media (max-width: 890px) {


    .logo_top {
        top: 50%;
        width: 175px;
    }


    .main_container {
        padding: 0 0px;
        background-color: #000000;
        z-index: 1;
        position: relative;
    }

    .header_inner {
        padding: 16px 20px;
        border-bottom: none;
    }


    .header_tel {
        display: none;
    }

    .header_call p {
        display: none;
    }

    .about_cifra {
        width: 100%;
        margin-right: 0px;
        flex-direction: column;
    }

    .about_item {
        width: 100%;
    }

    .teg {
        flex-direction: column;
        gap: 32px;
        padding: 32px 0;
    }


    .teg_item {
        width: 100%;
        word-break: normal;
    }

    .teg_title {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {



    .logo_main_p {
        font-size: 9px;
        padding: 2px 0;
        line-height: 10px;
    }

    .logo_main {
        max-width: 288px;
    }


    .call_inner,
    .call_wapper {
        border: none;
        padding: 0px;
        width: 40px;
        height: 40px;
    }

    .main_text {
        margin: 32px 0;
    }

    .opisanie_text {
        margin-top: 32px;
    }

    .main_innner {
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 32px;
    }

    .about_cifra {
        gap: 16px;
    }

    .about_item {
        gap: 8px;
        height: 124px;
    }


}

@media (max-width: 440px) {

    .container {
        padding-right: 20px;
    }

    .title {
        word-break: break-all;
    }

}

@media (max-height: 650px) {
    .body_main {
        height: 110vh;
    }
}