@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.carta iframe {
    filter: invert(100%);
    -ms-filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    height: 100%;
    width: 100%;
}

.svg path {
    stroke: #FFF;
}

.carta div {
    height: 100%;
}

/* Стиль для скрытия блока с метро */
.map-container {
    position: relative;
    overflow: hidden;
    width: 560px;
    height: 400px;
}

/* Скрываем блок с метро, который появляется поверх карты */
.map-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    /* Высота блока с метро */
    background: white;
    z-index: 1000;
}

/* Альтернативный подход - уменьшаем высоту iframe, чтобы скрыть нижнюю часть */
.map-container iframe {
    height: 340px;
    /* Уменьшаем высоту на 60px */
    margin-bottom: -60px;
    /* Компенсируем уменьшение высоты */
}

.wapper {
    /* height: 100%; */
    position: absolute;
    width: 100%
}

.strage .header_container {
    position: absolute;
    width: 100%;

}

.main {
    position: relative;
    z-index: 2;
}

.header {

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 100vh;
    height: 100%;
}

.main_container {
    position: relative;
    z-index: 5;
}



.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 24px 108px; */
    padding: 24px 0px;
    /* width: 100%; */
    /* position: fixed; */
    position: relative;
    z-index: 4;
    border-bottom: 1px solid #FFFFFF33;
}

.founded-year {
    display: none;
}

.tel {
    margin-left: 48px;
}

.call {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 12px;
    color: #F6AE2D;
    transition: all .5s;
    cursor: pointer;

}

.call svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.call_inner {
    padding: 8px;
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.call_wapper {
    padding: 8px;
    border-radius: 50%;
    width: 72px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.call:hover {
    color: #FFF;
}

.call svg g path {
    transition: all .5s;
}

.call:hover svg g path {
    stroke: #FFF;
}

.logo_main {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.logo_main_p {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    background-color: #F6AE2D;
    padding: 8px 0;
    color: #000000
}

.logo_top {
    top: -50%;
    transition: all .5s;

    width: 263px;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.main_inner {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    /* margin-right: 516px; */
    /* margin-right: 20%; */
    gap: 12px;
    /* height: 100vh !important; */
    padding-bottom: 48px;
    align-items: center;
    position: relative;
    margin-top: 120px;
}



.main_text {
    margin: 48px 0;
}


.arrow {
    display: flex;
    gap: 12px;
    align-items: center;
    transition: all .5s;
    cursor: pointer;
}

.arrow svg path {
    transition: all .5s;
}


.arrow:hover {
    color: #fff;
}

.arrow:hover svg path {
    stroke: #FFF;
    stroke-opacity: 1;
}



.podrobno {
    color: #F6AE2D;

}


.prev {
    color: rgba(255, 255, 255, 0.4);
}

.opisanie {
    padding-right: 11px;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    display: flex;
}




.opisanie_text {
    margin-top: 48px;
}

.text span {
    color: #F6AE2D;
}

.section {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    min-height: 100vh;
    /* flex-wrap: wrap; */

}



.spisok {
    list-style-type: disc;
    /* list-style-position: inside; */
    margin-left: 18px;
}


.spisok_item::marker {
    color: #F6AE2D;
    font-size: 18px;
}

.about_cifra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}



.about_item {
    width: 408px;
    height: 272px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #FFFFFF33
}

.about_cifra_in {
    color: #F6AE2D;

}

.teg_wapper {
    height: 100vh;
}

.teg {
    height: 100% !important;
}

.teg div {
    height: 100% !important;
}


.teg div div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* max-height:1000px; */
    /* width: 100%; */
    height: 100vh;
    position: relative;
    /* border-left: 1px solid #FFFFFF33; */
    /* gap: 32px; */
}

.teg_wapper {
    overflow: hidden;
}

.teg_title {
    font-size: 24px;
    line-height: 36px;
}

.teg_text {
    color: rgba(255, 255, 255, .4);
}

.teg_item {
    transition: all .5s;
    cursor: pointer;
    /* height: calc(100vh / 4); */
    /* height: auto !important; */
    /* height: max-content !important; */
}

.teg_item+.teg_item {
    /* margin-top: 30px; */
}


.slide a:hover {
    color: #F6AE2D;

}

.slide a:hover .teg_text {
    color: #F6AE2D;
    opacity: .4;
}

.teg_item.swiper-slide-active {
    /* margin-top: 32px; */
}



.contact {
    height: 100vh;
    display: flex;
}



.contact_wap {
    /* margin-top: auto;
    width: 50%; */
    position: relative;
    background-size: cover !important;
}



.contact_inner {
    margin-bottom: 196px;
    max-width: 100%;
    display: flex;
    align-items: anchor-center;
    height: 100%;

}

.contact_cont {
    padding-left: 108px;
}

.contact_opisanie {
    margin-top: 48px;
}

.contact_list {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
    justify-content: space-between;
    gap: 48px 48px;
    max-width: 840px;
    padding-right: 24px;
}

.contact_item {
    width: 45%;
    /* word-break: break-all; */
}




.contact_link {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cotact_name {
    color: #FFFFFF66;
}

.contact_info {
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;

}

.carta {
    width: 50%;
}

.footer {
    border-top: 1px solid #FFFFFF33;
    margin-top: 48px;

}

/* 
.footer_wap {
    display: flex;
    flex-direction: column;
} */

.footer_inner {
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #FFFFFF33; */
    gap: 48px;
}

.footer_carta_inner {
    position: relative;
}

.foooter_carta_menu {
    display: flex;
    gap: 48px;
    /* flex-wrap: wrap; */
    justify-content: space-between;

}

.footer_menu_stolb_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

.footer_menu_stolb_name {
    color: #F6AE2D;
    transition: all .5s;
}

.footer_menu_stolb_name:hover {
    color: #FFF;
    opacity: .5;
}

.footer_menu_stolb_item {
    transition: all .5s;
}

.footer_menu_stolb_item:hover {
    color: #F6AE2D;
    opacity: .5;
}



.footer_podval {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 1px solid #FFFFFF33;
    margin-top: 24px;
}

.footer_logo {
    position: relative;
    top: 0%;
    left: 0%;
    margin-right: -0%;
    transform: translate(-0%, -0%);
    margin: 0 !important;
}

.footer_logo img {
    width: 263px !important;

}



@media (max-width: 1500px) {
    .about_item {
        width: 245px;
        height: 200px;
    }

    /* .main_inner{
        margin-right: 18%;
    } */
}



@media (max-width: 1300px) {

    .title {
        /* font-size: 20px; */
    }

    .logo_main {
        width: 70%;
        margin: 0 auto;
    }

    .logo_main img {
        width: 100%;
    }

    .logo_main_p {
        font-size: 22px;
    }





    .about_item {
        width: 225px;
        height: 180px;
    }

    .teg_title {
        font-size: 21px;
        line-height: 32px;
    }



    .contact_list {
        gap: 32px 32px;
    }

    .contact_info {
        line-height: 30px;
    }



    .foooter_carta_menu {
        display: grid;
        gap: 48px 96px;
        grid-template-columns: repeat(2, 1fr);
    }


    .footer_carta_ip {
        position: relative;
    }

    .stick-track {
        display: flex;
        flex-shrink: 0;
        overflow: hidden;
    }





}

@media (max-width: 1100px) {


    .main_inner {
        flex-direction: column;
        gap: 32px;
        display: flex;
        align-items: baseline;
    }

    .swiper_cont {
        margin: 0 0;
    }




    .opisanie {
        border-right: none;
    }




    .slide {
        min-height: 95px !important;
        padding: 0px 0;
    }
}

@media (max-width: 998px) {
    .logo_main_p {
        font-size: 16px;
    }

    .contact_list {
        flex-direction: column;
    }

    .contact_item {
        width: 100%;
    }



}

@media (max-width: 890px) {




    .logo_top {
        top: 50%;
        width: 175px;
    }


    .main_container {
        padding: 0 0px;
        background-color: #000000;
        position: relative;
    }

    .header_inner {
        padding: 16px 20px;
        border-bottom: none;
    }


    .header_tel {
        display: none;
    }

    .header_call p {
        display: none;
    }




    .section {
        flex-direction: column;
    }

    .about_cifra {
        width: 100%;
        margin-right: 0px;
        flex-direction: column;
    }

    .about_item {
        width: 100%;
    }





    .teg_title {
        font-size: 18px;
        line-height: 24px;
    }

    .tg_wapper {
        /* width: 100%; */
    }

    .contact {
        flex-direction: column;
        height: auto;
    }

    .contact_inner {
        margin-bottom: 0px;
    }

    .carta {
        width: 100%;
        height: 440px;
    }

    .contact_info {
        font-size: 21px;
    }

    .contact_link {
        gap: 8px;
    }

    .contact_list {
        margin-top: 32px;
    }

    .contact_item {
        word-break: normal;
    }

    .contact_cont {
        padding-left: 76px;
    }

    .footer_inner {
        flex-direction: column;
        gap: 32px;

    }

    .foooter_carta_menu {
        gap: 32px;
    }

    .footer_carta_ip {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer_podval {
        flex-direction: column;
        gap: 16px;
        align-items: center;
        padding: 32px 0;
    }

    .footer .footer_logo img,
    .footer .logo_main {
        width: 175px !important;
    }
}

@media (max-width: 768px) {



    .logo_main_p {
        font-size: 9px;
        padding: 2px 0;
        line-height: 10px;
    }

    .logo_main {
        max-width: 288px;
    }


    .call_inner,
    .call_wapper {
        border: none;
        padding: 0px;
        width: 40px;
        height: 40px;
    }

    .main_text {
        margin: 32px 0;
    }

    .opisanie_text {
        margin-top: 32px;
    }

    .main_inner {
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 32px;
    }

    .about_cifra {
        gap: 16px;
    }

    .about_item {
        gap: 8px;
        height: 124px;
    }




}

@media (max-width: 440px) {

    .container {
        padding-right: 20px;
    }

    .header_container {
        padding-right: 0px;
    }

    .title {
        /* word-break: break-all; */
    }

    .contact_item {
        /* word-break: break-all; */
    }

    .footer_carta_ip {
        gap: 32px;
    }


}

@media (max-width: 360px) {
    .title {
        /* word-break: break-all; */
    }

    .foooter_carta_menu {
        gap: 16px;
    }
}

@media (max-height: 650px) {
    .body_main {
        /* height: 110vh; */
    }
}